.navbar{
    font-family: 'Poppins', sans-serif !important;
    font-weight: bold !important;
    width: 100% !important;
    position: absolute !important;
}

.container{
    /* margin: 0 2%; */
    width: 100vw !important;
}

.links{
    justify-content: flex-end !important;
}